<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticeApplication"
        tools:targetApi="31">
        <activity
            android:name=".ServicesActivity"
            android:exported="false" />
        <activity
            android:name=".SMSActivity"
            android:exported="false" />
        <activity
            android:name=".components.fragments.DialogFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".components.fragments.ListViewSecondFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".components.fragments.ListFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".components.fragments.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".components.intents.SharedPreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".components.intents.ViewBindingActivity"
            android:exported="false" />
        <activity
            android:name=".components.intents.ResultPageIntent"
            android:exported="false"
            android:parentActivityName=".components.intents.IntentActivity" />
        <activity
            android:name=".components.intents.IntentActivity"
            android:exported="false" />
        <activity
            android:name=".components.intents.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".components.intents.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".components.intents.CheckboxActivity"
            android:exported="false"
            android:label="@string/title_activity_checkbox"
            android:theme="@style/Theme.PracticeApplication.NoActionBar" />
        <activity
            android:name="calculator.CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".EditText"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".services.MyBackgroundService" />
    </application>

</manifest>